* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #92a3b5;
  overflow: hidden;
  filter: url(#gooey);
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #f00, #0ff);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 6px 7px;
}
.particles {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, #f00, #0ff);
  /* animation: animate 2s ease forwards; */
  z-index: -1;
  box-shadow: 0 0 2px 1px;
}

@keyframes animate {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(var(--x), var(--y));
  }
}

svg {
  width: 0;
  height: 0;
}
